<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/*
body {
	font-family: sans-serif;
	background: #7f7f7f;
}

h1 {
	font-size: 1.8em;
}

article {
	padding: 20px 15px 10px 15px;
	margin: 0 auto;
	max-width: 600px;
	text-align: center;
	background: white;
	border-radius: 10px;
	border: 1px dashed black;
}

li, ol {
	text-align: left;
}

article p {
	text-align: justify;
}

pre {
	color: white;
	background: #555;
	border-radius: 3px;
	overflow-x: scroll;
	padding: 10px;
	text-align: left;
}

cite p:before {
	content: "—";
}
		*/
</style>
	</head>
	<body>
		{{ content }}
	</body>
</html>
